.section {
  padding: 3rem 2rem;
}
.list_cate {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.list_cate li {
  flex: 1;
}
.list_cate button {
  width: 100%;
  padding: 0.2rem 0;
  font-weight: 700;
  font-size: 0.8rem;
  border: 1px solid #000;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.list_cate button:hover {
  background-color: #eee;
}

.list_lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem -0.6rem 0;
}
.list_lists li {
  margin: 0.6rem;
}
.list_lists a {
  display: inline-block;
  padding: 0 0.4rem;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-family: var(--point-text);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: margin-top 0.3s;
}
.list_lists a::after {
  content: " →";
}
.list_lists a:hover {
  margin-top: -4px;
}
