.nav {
  position: relative;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.nav h1 {
  position: absolute;
  top: 0;
  left: 50%;
  line-height: 60px;
  font-family: var(--point-text);
  font-weight: 700;
  font-size: 1.4rem;
  white-space: nowrap;
  transform: translateX(-50%);
}
.nav ul {
  display: flex;
  justify-content: space-between;
}

.nav ul li a {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav ul li a:hover {
  background-color: #eee;
}
